---
# Comment for Jekyll to process the frontmatter
---

$dark: #222222;
$light: #FEFEFE;
$accent: #6ABED8;

body {
  margin: 0;
  line-height: 1.2;
  background-color: $light;
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  display: flex;
  flex-direction: column;
  color: $dark;
  background-color: $light;
}

footer {
  font-size: .8em;
}

code {
  background-color: $dark;
  color: $light;
  font-family: Monaco, monospace;
  padding: .3em .5em;
  border-radius: .3em;
  line-height: 1.7;
  display: inline-block;
}

.content {
  padding: 1rem;
  a {
    color: darken($accent,10%);
    &:visited {
      color: darken($accent,20%);
    }
  }

  h1,h2,h3,h4,h5,h6 {
    a {
      color: inherit;
      text-decoration: none;

      &:visited {
        color: inherit;
      }
    }

    &:target {
      animation: pulse 2s;
    }

    &:hover:after {
      content: '';
      display: inline-block;
      height: .4em;
      width: .4em;
      margin-left: .2em;
      margin-bottom: .1em;
      background: {
        image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='#222222' d='M459.654,233.373l-90.531,90.5c-49.969,50-131.031,50-181,0c-7.875-7.844-14.031-16.688-19.438-25.813  l42.063-42.063c2-2.016,4.469-3.172,6.828-4.531c2.906,9.938,7.984,19.344,15.797,27.156c24.953,24.969,65.563,24.938,90.5,0  l90.5-90.5c24.969-24.969,24.969-65.563,0-90.516c-24.938-24.953-65.531-24.953-90.5,0l-32.188,32.219  c-26.109-10.172-54.25-12.906-81.641-8.891l68.578-68.578c50-49.984,131.031-49.984,181.031,0  C509.623,102.342,509.623,183.389,459.654,233.373z M220.326,382.186l-32.203,32.219c-24.953,24.938-65.563,24.938-90.516,0  c-24.953-24.969-24.953-65.563,0-90.531l90.516-90.5c24.969-24.969,65.547-24.969,90.5,0c7.797,7.797,12.875,17.203,15.813,27.125  c2.375-1.375,4.813-2.5,6.813-4.5l42.063-42.047c-5.375-9.156-11.563-17.969-19.438-25.828c-49.969-49.984-131.031-49.984-181.016,0  l-90.5,90.5c-49.984,50-49.984,131.031,0,181.031c49.984,49.969,131.031,49.969,181.016,0l68.594-68.594  C274.561,395.092,246.42,392.342,220.326,382.186z'/></svg>");
        repeat: no-repeat;
        size: contain;
      }
    }
  }
}

.aside {
  padding-left: 1em;
  color: $light;
  background-color: $dark;
  margin: 0;

  h1 a {
    color: $light;
    text-decoration: none;

    &:visited {
      color: $light;
    }
  }

  a {
    color: $accent;

    &:visited {
      color: darken($accent,10%);
    }
  }
}

#markdown-toc {
  padding-left: 0;

  // Hide site title and L3 titles
  >li:first-child {
    display: none;
  }
  ul ul {
    display: none;
  }

  ul {
    padding-left: 2em;
  }
  li {
    list-style-type: none;
  }
  a {
    color: $light;
    text-decoration: none;
    display: inline-block;
    padding: 0.2em;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 40em) {
  .aside {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 18rem;
    padding-left: 0;
    overflow-y: auto; // if viewport height is too low, make scrollable
    ul:first-child {
      margin-bottom: 4rem;
    }
  }
  .aside-content {
    margin: auto;
  }
  .content {
    width: 100%;
    margin-left: 18rem;
    padding: 2rem 2rem;
  }
  body {
    flex-direction: row;
  }
}
@media screen and (min-width: 60em) {
  .aside {
    width: 22rem;
  }
  .content {
    margin-left: 22rem;
    padding: 2rem 6rem;
  }
}

@keyframes pulse {
  50%  {color: $accent;}
  100% {color: $dark;}
}