---
# Comment for Jekyll to process the frontmatter
---

$dark: #222222;
$light: #FEFEFE;
$accent: #6ABED8;

$sans-serif: -apple-system, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
$monospace: Monaco, Consolas, monospace;

body {
  margin: 0;

  color: $dark;
  background-color: $light;

  line-height: 1.2;
  background-color: $light;
  font-family: $sans-serif;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  display: flex;
  flex-direction: column;
}

footer {
  font-size: .8em;
}

code {
  padding: .2em;
  margin: .1em;
  border-radius: .2em;

  background-color: $dark;
  color: $light;

  font-family: $monospace;

  display: inline-block;
}

pre {
  overflow: auto;
}

.content {
  padding: 1rem;

  a {
    color: darken($accent,10%);

    &:visited {
      color: darken($accent,20%);
    }
  }

  h1,h2,h3,h4,h5,h6 {

    a {
      color: inherit;
      text-decoration: none;

      svg {
        height: .4em;
        width: .4em;
        margin: 0 0 0.1em 0.2em;

        display: none;
      }

      &:visited {
        color: inherit;
      }
    }

    &:hover {
      svg {
        display: inline-block;
      }
    }

    &:target {
      animation: pulse 2s;
    }
  }
}

.aside {
  padding-left: 1em;
  color: $light;
  background-color: $dark;
  margin: 0;

  h1 a {
    color: $light;
    text-decoration: none;

    &:visited {
      color: $light;
    }
  }

  a {
    color: $accent;

    &:visited {
      color: darken($accent,10%);
    }
  }
}

#markdown-toc {
  padding-left: 0;

  // Hide site title and L3 titles
  > li:first-child {
    display: none;
  }

  ul ul {
    display: none;
  }

  ul {
    padding-left: 2em;
  }

  li {
    list-style-type: none;
  }

  a {
    padding: 0.2em;

    color: $light;

    text-decoration: none;

    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 40em) {
  .aside {
    width: 18rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto; // if viewport height is too low, make scrollable

    ul:first-child {
      margin-bottom: 4rem;
    }
  }

  .aside-content {
    margin: auto;
  }

  .content {
    width: 100%;
    margin-left: 18rem;
    padding: 2rem 2rem;
  }

  body {
    flex-direction: row;
  }
}

@media screen and (min-width: 60em) {
  .aside {
    width: 22rem;
  }
  .content {
    margin-left: 22rem;
    padding: 2rem 6rem;
  }
}

@keyframes pulse {
  50%  {
    color: $accent;
  }

  100% {
    color: $dark;
  }
}

blockquote {
  padding: .3em;
  padding-left: 1em;
  border-left: .2em solid $dark;
  background-color: lighten($dark,20%);
  color: $light;

  @media all and (max-width: 60em) {
    margin: .2em;
  }
}

abbr {
  cursor: help;
}