---
# Comment for Jekyll to process the frontmatter
---

$dark: #222;
$light: #FEFEFE;
$accent: #df5078;

body {
  margin: 0;
  line-height: 1.2;
  background-color: $light;
  font-family: -apple-system, sans-serif;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  display: flex;
  flex-direction: column;
}

footer {
  font-size: .8em;
}

code {
  background-color: $dark;
  color: $light;
  font-family: Monaco, monospace;
  padding: .3em;
  border-radius: .3em;
}

.aside {
  padding-left: 1em;
  background-color: $dark;
  color: $light;
  margin: 0;
  ul {
    padding-left: 1em;
  }
  li {
    list-style-type: none;
  }
  a {
    color: $light;
    &:visited {
      color: darken($light,30%);
    }
  }
}

a {
  color: $accent;
  &:visited {
    color: darken($accent,30%);
  }
}

@media screen and (min-width: 60em) {
  .aside {
    min-height: 100vh;
    width: 20%;
    float: left;
  }
  .content {
    width: 69%;
    float: right;
  }
}