---
# Comment for Jekyll to process the frontmatter
---

$dark: #222;
$light: #FEFEFE;
$links: #6ABED8;

body {
  margin: 0;
  line-height: 1.2;
  background-color: $light;
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  display: flex;
  flex-direction: column;
}

footer {
  font-size: .8em;
}

code {
  background-color: $dark;
  color: $light;
  font-family: Monaco, monospace;
  padding: .3em;
  border-radius: .3em;
  line-height: 1.7;
}

a {
  color: $links;
  &:visited {
    color: darken($links,10%);
  }
}

.content {
  padding: 1rem;
}

.aside {
  padding-left: 1em;
  color: $light;
  background-color: $dark;
  margin: 0;
}

#markdown-toc {
  padding-left: 0;
  
  // Hide site title and L3 titles
  >li:first-child {
    display: none;
  }
  ul ul {
    display: none;
  }

  ul {
    padding-left: 2em;
  }
  li {
    list-style-type: none;
  }
  a {
    color: $light;
    text-decoration: none;
    display: inline-block;
    padding: 0.2em;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 40em) {
  .aside {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 18rem;
    padding-left: 0;
    overflow-y: auto; // if viewport height is too low, make scrollable
    ul:first-child {
      margin-bottom: 4rem;
    }
  }
  .aside-content {
    margin: auto;
  }
  .content {
    width: 100%;
    margin-left: 18rem;
    padding: 2rem 2rem;
  }
  body {
    flex-direction: row;
  }
}
@media screen and (min-width: 60em) {
  .aside {
    width: 22rem;
  }
  .content {
    margin-left: 22rem;
		padding: 2rem 6rem;
  }
}
