<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<!-- saying that the browser doesn't need to rescale on mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes" />
	<!-- status bar in transparent/colour -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="theme-color" content="#222222">
	<!-- linking your CSS -->
	<link rel="stylesheet" href="style.css" />
	<!-- linking the favicon -->
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="icon" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon.png" />
</head>