<head>
	<meta charset="utf-8" />
	<title>{{ site.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="theme-color" content="#222222">
	<link rel="stylesheet" href="style.css" />
	<link rel="apple-touch-icon" href="https://haroen.me/apple-touch-icon.png" />
	<link rel="icon" href="https://haroen.me/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="https://haroen.me/favicon.png" />
</head>
